@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);



/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 링크스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 본문 스타일 */
body {
  color: #212121;
  background-color: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
}

.member a {
  text-transform: uppercase;
}


/* 비주얼 */
.visual {
  height: 120px;
}
/* 메인 */
.main {
  background-color: #fff;
  min-height: 450px;
  display: flow-root;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1 {
  background-color: violet;
  width: 250px;
  float: left;
}
.group2 {
  background-color: salmon;
  width: 380px;
  float: left;
}
.group3 {
  background-color: gold;
  width: 190px;
  float: left;
}

/* 슬로건 */
.slogan {
  background-color: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: gray;
}
.footer-inner {
  background-color: silver;
}
